[data-layout="empty-view-5"] {
  position: relative;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

.loading [data-layout="empty-view-5"] > .form-container {
  visibility: hidden;
}

[data-layout="empty-view-5"] ::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

html:not(.loading) [data-layout="empty-view-5"] {
  background: url(../../assets/images/bg-empty-view-5.jpg) no-repeat center center fixed;
  background-size: cover;
}
