.activity-widget-1 i {
  display: none;
}

.activity-widget-1 .check-circle {
  color: #388e3c;
}

.activity-widget-1 .star {
  color: #ffa000;
}

.activity-widget-1 .remove-circle {
  color: #d32f2f;
}

.activity-widget-1 .lock-open {
  color: #0d47a1;
}
