.coming-soon {
  position: relative;
  background: #fff;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  padding: 40px 20px;
  text-align: center;
}

.coming-soon .table {
  margin-bottom: 30px;
}

.coming-soon .table tr, .coming-soon .table td, .coming-soon .table th {
  min-height: 100px;
  border: 0;
}

.coming-soon .table td {
  text-align: center;
  width: auto;
}

.coming-soon .table td:nth-child(even) {
  width: 10px;
}

.coming-soon .table .number {
  font-size: 64px;
  color: #0d47a1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.coming-soon .table .unit {
  color: #0d47a1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
}

.coming-soon h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.coming-soon p {
  color: #616161;
}

.coming-soon .social-media {
  margin-bottom: 20px;
}

.coming-soon .copyright {
  font-size: 0.8rem !important;
  color: #9e9e9e;
}

@media (max-width: 543px) {
  .coming-soon {
    max-width: 500px;
  }
  .coming-soon .table td:nth-child(even) {
    display: none;
  }
  .coming-soon .table .number {
    font-size: 24px;
  }
  .coming-soon .table .unit {
    font-size: 13px;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .coming-soon {
    max-width: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .coming-soon {
    width: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .coming-soon {
    width: 700px;
  }
}

@media (min-width: 1200px) {
  .coming-soon {
    width: 700px;
  }
}
