.forgot-password {
  position: relative;
  background: #fff;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  padding: 40px;
}

.forgot-password h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.forgot-password p {
  color: #616161;
}

.forgot-password .form-group {
  margin-bottom: 40px;
}

.forgot-password .btn {
  margin-bottom: 40px;
}

.forgot-password .sign-in-link a,
.forgot-password .sign-up-link a {
  color: #0d47a1;
}

.forgot-password .copyright {
  font-size: 0.8rem !important;
  color: #9e9e9e;
}

@media (max-width: 543px) {
  .forgot-password {
    max-width: 500px;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .forgot-password {
    width: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .forgot-password {
    width: 600px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .forgot-password {
    width: 600px;
  }
}

@media (min-width: 1200px) {
  .forgot-password {
    width: 600px;
  }
}
